.category__heading{
    display: inline-block;
    width: 45%;
    margin: 0;
    padding: 0;
    padding-left: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .category__heading{
        font-size: 20px;
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    .category__heading{
        width: 100%;
        margin-bottom: 40px;
    }
}

