.cover__contacts-heading{
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.cover__contacts-heading_email{
    background-image: url('../../../images/mailed.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cover__contacts-heading_telegram{
    background-image: url('../../../images/telegram.svg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.cover__contacts-heading_github{
    background-image: url('../../../images/github-logo.svg');
    background-repeat: no-repeat;  
    background-size: cover;
}