.cover__contacts{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
}

@media screen and (max-width: 600px) {
    .cover__contacts{
        width: 55%;
    }
}

@media screen and (max-width: 550px) {
    .cover__contacts{
        width: 20%;
    }
}

