.category__title{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 22px;
}

.category__title:first-of-type{
    margin-top: 0;
}

@media screen and (max-width: 1000px) {
    .category__title{
        font-size: 18px;
    }
}