.portfolio__item{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 420px;
    text-decoration: none;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .portfolio__item{
        width: 200px;
        height: 310px;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__item{
        width: 100%;  
    }
}