@import url(./__logo/header__logo.css);
@import url(./__logo/_type/header__logo_type_white.css);
@import url(./__nav/header__nav.css);
@import url(./__list/header__list.css);

.header{
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}