@import url(./__logo/header__logo.css);
@import url(./__logo/_type/header__logo_type_white.css);
@import url(./__nav/header__nav.css);
@import url(./__list/header__list.css);


.header{
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    border-bottom: 1px solid lightgrey;
}

@media screen and (max-width: 600px) {
    .header{
        flex-wrap: wrap;
    }
}